fastapi==0.109.0
uvicorn[standard]==0.27.0
pandas==2.1.4
openpyxl==3.1.2
google-cloud-storage==2.14.0
python-multipart==0.0.6
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
cloud-sql-python-connector[pg8000]==1.7.0
pg8000==1.30.5
python-dotenv==1.0.1
